
@using Antlr.Runtime.Misc
@using UnikeyFactoryTest.Domain.Enums
@using UnikeyFactoryTest.Presentation.Models.DTO
@model UnikeyFactoryTest.Presentation.Models.DTO.QuestionDto

<script>
    $(document).ready(function() {
        for (var i = 0; i < 4; ++i) {
            if (document.getElementById("check" + i).checked) {
                document.getElementById("txt_Score" + i).removeAttribute("hidden");
            }
        } 
    })
</script>

@using (Html.BeginForm("AddOrUpdateQuestion", "Test", FormMethod.Post))
{
    @Html.HiddenFor(x => x.TestId)
    @Html.HiddenFor(x => x.Position, new { value = $"{Model.Position}" })
    <input type="hidden" value="@Model.Id" name="Id" />

    @Html.TextAreaFor(m => m.Text, new { @class = "required", id = "txt_QuestionText", style = "max-width: 100%;width: 100%; border-radius: 5px; border: 1px solid black;", @rows = 5, placeholder = "Enter the question " })
    @Html.ValidationMessageFor(x => x.Text, null, new { @class = "text-danger" })
    <br/>
    <br/>
    <div class="form-group">
        @if (Model.Answers != null)
        {
            int i;

            for (i = 0; i < Model.Answers.Count; i++)
            {
                if (Model.Answers[i] != null)
                {
                    @Html.HiddenFor(x => x.Answers[i].Id, new { value = $"{Model.Answers[i].Id}" })
                    @Html.HiddenFor(x => x.Answers[i].QuestionId, new { value = $"{Model.Id}" })
                    <input type="hidden" name="Id" value="@Model.Answers[i].Id" />
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                @Html.CheckBoxFor(x => x.Answers[i].IsCorrectBool, new { id = "check" + i, onclick = "CorrectAnswer('check" + i + "','txt_AnswerText" + i + "','txt_Score" + i + "')" })
                            </div>
                        </div>
                        @if (Model.Answers[i].IsCorrectBool)
                        {
                            @Html.TextBoxFor(x => x.Answers[i].Text, new { @class = "form-control class-selected", style = "max-width: 100%;width: 70%;", id = "txt_AnswerText" + i, placeholder = "Enter the answer " })
                            @Html.ValidationMessageFor(x => x.Answers[i].Text, "", new { @class = "text-danger", style = "display: block;" })
                        }
                        @if (Model.Answers[i].IsCorrectBool == false)
                        {
                            @Html.TextBoxFor(x => x.Answers[i].Text, new { @class = "form-control", style = "max-width: 100%;width: 70%;", id = "txt_AnswerText" + i, placeholder = "Enter the answer " })
                            @Html.ValidationMessageFor(x => x.Answers[i].Text, "", new { @class = "text-danger", style = "display: block;" })
                        }
                        @if (Model.Answers[i].IsCorrectBool == false)
                        {
                            @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", style = "width: 80px", step = "1", placeholder = "Score", @hidden = "hidden", @Value = "0" })
                            @Html.ValidationMessageFor(x => x.Answers[i].Score, "", new { @class = "text-danger", style = "display: block;" })
                        }
                        @if (Model.Answers[i].IsCorrectBool)
                        {
                            @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", style = "width: 80px", step = "1", placeholder = "Score", @Value = "0" })
                            @Html.ValidationMessageFor(x => x.Answers[i].Score, "", new { @class = "text-danger", style = "display: block;" })
                        }
                    </div>
                }
            }

            for(; i < 4; ++i)
            {
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                @Html.CheckBoxFor(x => x.Answers[i].IsCorrectBool, new { id = "check" + i, onclick = "CorrectAnswer('check" + i + "','txt_AnswerText" + i + "','txt_Score" + i + "')" })
            </div>
        </div>
        @*@Html.TextBoxFor(x => x.Answers[i].Text, new { @class = "form-control", style = "max-width: 100%;width: 70%;", id = "txt_AnswerText" + i, placeholder = "Enter the answer " })
        @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", step = "1", placeholder = "Score", @hidden = "hidden", @Value = "0", style = "width: 80px;" })*@
        @if (Model.Answers[i].IsCorrectBool)
        {
            @Html.TextBoxFor(x => x.Answers[i].Text, new { @class = "form-control class-selected", style = "max-width: 100%;width: 70%;", id = "txt_AnswerText" + i, placeholder = "Enter the answer " })
            @Html.ValidationMessageFor(x => x.Answers[i].Text, "", new { @class = "text-danger", style = "display: block;" })
        }
        @if (!Model.Answers[i].IsCorrectBool)
        {
            @Html.TextBoxFor(x => x.Answers[i].Text, new { @class = "form-control", style = "max-width: 100%;width: 70%;", id = "txt_AnswerText" + i, placeholder = "Enter the answer " })
            @Html.ValidationMessageFor(x => x.Answers[i].Text, "", new { @class = "text-danger", style = "display: block;" })
        }
        @if (!Model.Answers[i].IsCorrectBool)
        {
            @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", style = "width: 80px", step = "1", placeholder = "Score", @hidden = "hidden", @Value = "0" })
            @Html.ValidationMessageFor(x => x.Answers[i].Score, "", new { @class = "text-danger", style = "display: block;" })
        }
        @if (Model.Answers[i].IsCorrectBool)
        {
            @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", style = "width: 80px", step = "1", placeholder = "Score",  @Value = "0"})
            @Html.ValidationMessageFor(x => x.Answers[i].Score, "", new { @class = "text-danger", style = "display: block;" })
        }

    </div>
                @Html.ValidationMessageFor(x => x.Answers[i].Text, "", new { @class = "text-danger", style = "display: block;" })
                @Html.ValidationMessageFor(x => x.Answers[i].Score, "", new { @class = "text-danger", style = "display: block;" })
                <br />
            }
        }
        @if (Model.Answers == null)
        {
            for (var i = 0; i < 4; i++)
            {
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            @Html.CheckBoxFor(x => x.Answers[i].IsCorrectBool, new { id = "check" + i, onclick = "CorrectAnswer('check" + i + "','txt_AnswerText" + i + "','txt_Score" + i + "')" })
                        </div>
                    </div>
                    @Html.TextBoxFor(x => x.Answers[i].Text, new { @class = "form-control", style = "max-width: 100%;width: 70%;", id = "txt_AnswerText" + i, placeholder = "Enter the answer " })
                    @if (Model.Answers != null && Model.Answers[i].IsCorrectBool)
                    {
                        @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", step = "1", placeholder = "Score", @Value = "0", style = "width: 80px;" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.Answers[i].Score, new { type = "number", id = "txt_Score" + i, @class = "class-mymarginleft", step = "1", @hidden = "hidden", placeholder = "Score", @Value = "0", style = "width: 80px;" })
                    }
                </div>
                @Html.ValidationMessageFor(x => x.Answers[i].Text, "", new { @class = "text-danger", style = "display: block;" })
                @Html.ValidationMessageFor(x => x.Answers[i].Score, "", new { @class = "text-danger", style = "display: block;" })
                <br />
            }
        }




    </div>

    <button class="btn btn-success" style="margin-left: 64%" @*onclick="UnloadAddQuestionPartial()"*@>SaveQuestion</button>
    <button class="btn btn-danger" type="button" onclick="modalOpen()" formaction="">Back</button>
}







