@model UnikeyFactoryTest.Presentation.Models.TestModel

@{
    ViewBag.Title = "Index";
}


<script>
    function enable(idtxt, idbtn, idbtn2) {
        document.getElementById(idtxt).disabled = false
        document.getElementById(idtxt).required = true
        document.getElementById(idbtn).disabled = false
        document.getElementById(idbtn2).disabled = false
    }


    function mydisabled(idtxt, idbtn, idbtn2) {

        document.getElementById(idtxt).disabled = true
        document.getElementById(idtxt).required = false
        document.getElementById(idbtn).disabled = true
        document.getElementById(idbtn2).disabled = true
    }</script>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            @using (Html.BeginForm("EditQuestion", "Test", FormMethod.Post))
            {
                <h1> Create new test</h1>
                @Html.Label("Edit the question here")
                <br />
                @Html.TextAreaFor(m => m.QuestionText, new { @class = "required", @rows = 4, @cols = 400 })
                <br />
                @Html.Label("Edit correct answer here")
                <br />
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.CorrectAnswerText, new { @class = "form-control", style = "width: 100px;border-color:limegreen;", required = "true" })

                    <div class="input-group-append" style="margin-left: 10px">
                        <label>Its score is:</label>
                        @Html.TextBoxFor(m => m.AnswerScore, new { @class = "form-control", style = "width: 100px;margin-left:10px", required = "true", @type = "number", @min = "0", @step = "0.50", @value = @Model.AnswerScore})
                    </div>
                </div>

                <br />
                <div class="form-group">
                    @Html.Label("Edit wrong answers here")
                    <br />
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.WrongAnswers, new { @Value=Model.WrongAnswers[0], @class = "form-control", style = "width: max;border-color:red;", required = "true" })
                    </div>
                    
                    @{
                        int i, j;
                    }

                    @for (i = 1; i < @Model.WrongAnswers.Count; ++i)
                    {
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.WrongAnswers, new { Value=Model.WrongAnswers[i], @class = "form-control", style = "width: max;border-color:red;" })
                        </div>
                    }
                    
                    @for (int c = 0; c < 4 - @Model.WrongAnswers.Count; ++c)
                    {
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.WrongAnswers, new { @Value="", @class = "form-control", style = "width: max;border-color:red;"})
                        </div>
                    }

                </div>
                <br />
            }
            @using (Html.BeginForm("EditQuestion", "Test", FormMethod.Post))
            {
                <button class="btn btn-info" style="text-align: right">SaveTest</button>
            }
        </div>
    </div>
</div>



