@using System.Web.UI.WebControls
@using UnikeyFactoryTest.Service
@model  UnikeyFactoryTest.Presentation.Models.TestsListModel

@{
    ViewBag.Title = "TestsList";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div style="display: flex; ">
    <div style="float: left;">
        <h2>Tests List</h2>
    </div>

    <div style="margin-left: 20px;">
        <a class="btn btn-success" style="float: left;" title="Create Test" onclick="showLoadingSpinner()" href='@Url.Action("Index", "Test")'><i class="fa fa-plus"></i></a>
    </div>
</div>

<script>
    function openModal(Id) {
        $('#mailModal').modal("show");
        document.getElementById("selectedTest").value = Id;

        document.getElementById("false").setAttribute("hidden", "hidden");
        document.getElementById("true").setAttribute("hidden", "hidden");
        document.getElementById("subject-name").value = null;
        document.getElementById("email-address").value = null;


    }
</script>

<div id="ErrorAlert" class="alert alert-danger" role="alert" style="display:none">
    <strong>Holy holy maccaroni!</strong> An error occurred while deleting the test
    <button type="button" class="close" aria-label="Close" onclick="closeErrorAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<hr />

<div style="display: flex; ">
    <div style="float: left; ">
            <form style="margin-bottom: 10px;" action="@Url.Action("TextSearch", "Test")" method="post">
                <div class="btn-group">
                    <input id="searchinput" value="@Model.TextFilter" type="search" name="textFilter" class="form-control" />
                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                    <button type="submit" class="btn btn-primary" onclick="showLoadingSpinner()">Search</button>
                </div>
            </form>
    </div>
    

    <div id="pageSizeDropDownList" style="float: right; margin-left: auto;">
        <div style="margin-top: 5px;">
            @Html.Label("Elements per page")
            <select name="PageSizeSelection" onchange="resizePage(this.value, @Model.PageNumber, '/Test/TestsList?TextFilter=@Model.TextFilter&PageSize=');">
                <option value="@Model.PageSize" selected="selected">@Model.PageSize</option>
                @for (int i = 10; i <= 161; i *= 2)
                {
                    if (Model.PageSize != i)
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
    </div>
</div>




<table class="table">
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Title</th>
        <th class="text-center">Date</th>
        <th class="text-center">URL</th>
        <th class="text-center">Number of tests</th>
        <th class="text-center">Number of tests opened</th>
        <th class="text-center"></th>
        <th class="text-center">Actions</th>
    </tr>
    <div id="myrender">

    </div>
    @foreach (var test in Model.Tests)
    {
        test.NumberOfTest = Model.AdministratedTestOpen.FirstOrDefault(x => x.Key == test.Id).Value;
        test.ClosedTestNumber = Model.ClosedTestsNumberPerTest[test.Id];
        Html.RenderPartial("TestsTablePartial", test);

    }
</table>

<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mailModalLabel">Send test with email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" hidden="hidden" id="selectedTest" />
                        <input required type="text" class="form-control" placeholder="example@mail.com" id="email-address">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Subject name:</label>
                        <input required type="text" class="form-control" id="subject-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="send()" class="btn btn-primary">Send email</button>
            </div>
            <div>
            </div>
            <div>
                <label hidden="hidden" id="true" style="text-align: right; color: green"> Sending successful</label>
            </div>
            <div>
                <label hidden="hidden" id="false" style="text-align: right;color: red">Not valid mail</label>
            </div>
        </div>
    </div>
</div>


<div class="text-center">
    @if (Model.PageNumber > 1)
    {
        <a onclick="showLoadingSpinner()" href="@Url.Action("TestsList","Test",new { PageNumber = 1, Model.PageSize, Model.TextFilter })"><i class="fa fa-angle-double-left btn" title="First"></i></a>
        <a onclick="showLoadingSpinner()" href="@Url.Action("TestsList","Test",new { PageNumber = Model.PageNumber - 1, Model.PageSize, Model.TextFilter})"><i class="fa fa-arrow-left btn" title="Previous"></i></a>

    }
    <strong><label>@Model.PageNumber of @Model.LastPage</label></strong>
    @if (@Model.PageNumber != @Model.LastPage)
    {
        <a onclick="showLoadingSpinner()" href="@Url.Action("TestsList","Test",new { PageNumber = Model.PageNumber + 1, Model.PageSize, Model.TextFilter})"><i class="fa fa-arrow-right btn" title="Next"></i></a>
        <a onclick="showLoadingSpinner()" href="@Url.Action("TestsList","Test",new { PageNumber = Model.LastPage, Model.PageSize, Model.TextFilter})"><i class="fa fa-angle-double-right btn" title="Last"></i></a>

    }
</div>

