@model UnikeyFactoryTest.Presentation.Models.DTO.TestDto

<tr>
    <td class="text-center">
        @Model.Id
    </td>
    <td>
        @Model.Title
    </td>
    <td class="text-center">
        @Model.Date
    </td>
    <td>
        @Model.URL
    </td>
    <td class="text-center">
        @Model.ClosedTestNumber
    </td>
    <td class="text-center">
        @Model.NumberOfTest
    </td>
    <td>
    </td>
    <td class="text-center" style="width: 20%">
        <div>
            <a id="testContentButt" onclick="showLoadingSpinner()" href="@Url.Action("TestContent","Test",new { @Model.Id, @Model.PageNumber, @Model.PageSize })"><i class="fa fa-info btn" title="Content"></i></a>|
            <i class="fa fa-trash btn" onclick="deleteConfirmation(@Model.Id, @Model.PageNumber, @Model.PageSize)" title="Delete"></i>|
            <input type="hidden" name="Id" value="@Model.Id" />
            <i class="fa fa-list btn" onclick="getDetailsTablePartial(@Model.Id)" title="Details"></i>|
            <i class="fa fa-mail-forward btn" onclick="openModal(@Model.Id)" id="openButton" title="Send Email"></i>

        </div>
    </td>

</tr>


