@using UnikeyFactoryTest.Domain.Enums
@using UnikeyFactoryTest.Presentation.Models.DTO
@model UnikeyFactoryTest.Presentation.Models.DTO.TestDto

@{
    ViewBag.Title = "AdministratedTestContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />

<script>
    @*function downloadPdf() {

        $.ajax({
            url: "/Test/DownloadPdf",
            data: @Html.Raw(Json.Encode(Model)),
            method: "POST"
        }).then(function(response) {
            console.log("OK"), console.log("KO");
        });
    }*@

</script>

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<strong><label style="font-size: 35px">Test @Model.Title</label></strong>
<a href="@Url.Action("DownloadPdf", new{ testId = Model.Id } )" title="Download Pdf" onclick="downloadPdf()"><i class="fa fa-file-pdf-o" style="font-size: 24px;color:red" aria-hidden="true"></i></a>
<a title="Copy Test" href="#" onclick="Copy(@Model.Id)"><i class="fa fa-copy" style="font-size: 24px;color: black"></i></a>
<a title="Go Back" href='@Url.Action("TestsList", "Test", new {Model.PageNumber, Model.PageSize, Model.TextFilter})'><img id="backIcon" src="~/Content/ICONS/goBackIcon.png" alt="goBack"></a>
<hr />
<br />
<div id="testContentStats">
    <label><strong>Number of questions: @Model.Questions.Count</strong></label> |
    <label><strong>Max Score: @Model.MaxScore</strong></label>
</div>

<div class="container col-8">

    @{
        int i = 1;

        foreach (var question in Model.Questions.OrderBy(q => q.Position))
        {
            <div class="row testContentRow">
                <div>
                    <div id="divQuestionForm">
                        <strong>Domanda @i</strong>
                        <div>
                            @using (Html.BeginForm("EditQuestionsAsync",
                                "Test",
                                question,
                                FormMethod.Post,
                                new { id = "questionForm" }
                                ))
                            {

                                <link href="~/Content/font-awesome.css" rel="stylesheet" />
                                <button id="editIcon" type="submit" class="fa fa-pencil" onclick="showLoadingSpinner()"></button>
                                <a id="delIcolink" title="Delete" onclick="showLoadingSpinner()" href='@Url.Action("DeleteQuestionFromContent",
                                                                                                           "Test",
                                                                                                           new {TestId=question.TestId,
                                                                                                               PageNumber = @Model.PageNumber,
                                                                                                               PageSize = @Model.PageSize,
                                                                                                               Id = question.Id,
                                                                                                               Text = question.Text,
                                                                                                               Position = question.Position
                                                                                                           })'><img id="deleteIcon" src="~/Content/ICONS/deleteIcon.png" alt="delete"></a>
                            }
                        </div>

                    </div>
                    <strong>Max Score: @question.Answers.Where(a => a.IsCorrectBool).Sum(a => a.Score)</strong>
                    <hr />
                    <p>@question.Text</p>
                </div>
            </div>
            <br>
            <form>
                @foreach (AnswerDto answer in question.Answers)
                {
                    {
                        Html.RenderPartial("AnswerPartial", answer);
                    }
                }
            </form>
            <br>
            ++i;
        }
    }
</div>

<script>
    function Copy(id) {
        $.ajax({
            type: "GET",
            url: "/Test/CopyTest/" + id,
            success: function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr["success"]("Test copied successfully");
            },
            error: function () {
                alert("Ops something wrong!!");
            }
        });
    }
</script>