@using UnikeyFactoryTest.Presentation.Models.DTO
@model  UnikeyFactoryTest.Presentation.Models.AdministratedTestsListModel

@{
    ViewBag.Title = "TestsList";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />

<h2>AdministratedTests List</h2>

<hr />

<div>
    <form action="@Url.Action("TextSearch", "ExTest")" method="post">
        <div class="btn-group">
            <input id="searchinput" value="@Model.TextFilter" type="search" name="textFilter" class="form-control" />
            <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
            <input type="submit" onclick="showLoadingSpinner()" class="btn btn-primary" value="Search" />
        </div>
    </form>
</div>

<div id="pageSizeDropDownList">
    @Html.Label("Elements per page")
    <select name="PageSizeSelection" onchange="resizePage(this.value, @Model.PageNumber, '/ExTest/AdministratedTestsList?TextFilter=@Model.TextFilter&PageSize=');">
        <option value="@Model.PageSize" selected="selected">@Model.PageSize</option>
        @for (int i = 10; i <= 161; i *= 2)
        {
            if (Model.PageSize != i)
            {
                <option value="@i">@i</option>
            }

        }
    </select>
</div>

<table class="table">
    <tr>
        <th class="text-center">Full Name</th>
        @*<th>Test title</th>*@
        <th class="text-center">Date</th>
        <th class="text-center">Total Score/Max Score</th>
        <th class="text-center">Actions</th>
    </tr>

    @foreach (AdministratedTestDto item in Model.Tests)
    {
        <tr>
            <td class="text-center">
                @item.TestSubject
            </td>
            <td class="text-center">
                @item.Date
            </td>
            <td class="text-center">
                @item.ResultScore/@item.TotalScore
            </td>
            <td class="text-center">
                <a id="testContentButt" onclick="showLoadingSpinner()" href="@Url.Action("AdministratedTestContent","ExTest",new { @item.Id, @Model.PageNumber, @Model.PageSize, @Model.TextFilter })"><i class="fa fa-info btn" title="Content"></i></a>
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @if (Model.PageNumber > 1)
    {
        <a id="testFirstButt" onclick="showLoadingSpinner()" href="@Url.Action("AdministratedTestsList","ExTest",new { PageNumber = 1, Model.PageSize, Model.TextFilter })"><i class="fa fa-angle-double-left btn" title="First"></i></a>
        <a id="testPreviousButt" onclick="showLoadingSpinner()" href="@Url.Action("AdministratedTestsList","ExTest",new { PageNumber = Model.PageNumber - 1, Model.PageSize, Model.TextFilter })"><i class="fa fa-arrow-left btn" title="Previous"></i></a>
    }
    <strong><label>@Model.PageNumber of @Model.LastPage</label></strong>
    @if (@Model.PageNumber != @Model.LastPage)
    {
        <a id="testNextButt" onclick="showLoadingSpinner()" href="@Url.Action("AdministratedTestsList","ExTest",new { PageNumber = Model.PageNumber + 1, Model.PageSize, Model.TextFilter })"><i class="fa fa-arrow-right btn" title="Next"></i></a>
        <a id="testLastButt" onclick="showLoadingSpinner()" href="@Url.Action("AdministratedTestsList","ExTest",new { PageNumber = Model.LastPage, Model.PageSize, Model.TextFilter })"><i class="fa fa-angle-double-right btn" title="Last"></i></a>
    }
</div>

